* {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-family: Arial, sans-serif;
    }

    body {
      background: #fff;
    }

    header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 15px 70px;
      background-color: #fff;
      box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    }

    .logo {
      display: flex;
  
    }

    nav {
      display: flex;
      gap: 20px;
      align-items: center;
      position: relative;
    }

    .right-icons {
      display: flex;
      align-items: center;
      gap: 25px;
    }

    .hamburger {
      display: none;
      font-size: 24px;
      cursor: pointer;
    }

    .tel{
      color: #828282;
    }

    .sign-in{
      font-size: 15px;
      font-weight: bold;
      color: #fff;
      padding: 10px 25px;
      background: #E24329;
      border: none;
      border-radius: 20px;
    }

    .fa-globe{
      color: #828282;
      font-size: 20px;
    }

    .en-globe{
      color: #828282;
    }

    .hero {
      background: #E24329;
      color: white;
      padding: 10px 70px 280px;
      text-align: left;
      position: relative;
      
    }

    .hero .container{
        margin-top: 200px;
    }


    .svg-container {
        position: relative;
}

    .svg-floater {
        position: absolute;
        top: -30px;
        left: 50%;
        transform: translateX(-50%);
        pointer-events: none;
}

    
    .hero h1 {
      font-size: 48px;
      font-weight: bold;
    }

    .hero p {
      margin-top: 40px;
      font-size: 14px;
    }

    .track-box {
      margin-top: 40px;
      display: flex;
      gap: px;
      max-width: 400px;
      overflow: hidden;
    }

    .track-box input {
      padding: 5px 20px;
      flex: 1;
      border: none;
      outline: none;
      border-radius: 50px 0 0 50px;
    }

    .track-box button {
      background: #FF6A00;
      border: none;
      color: white;
      font-weight: bold;
      padding: 15px 25px;
      border-radius: 0 50px 50px 0;
      cursor: pointer;
      font-size: 14px;
      white-space: nowrap;

    }

    .features {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
      gap: 10px;
      padding: 20px 50px;
      text-align: center;
      margin: -50px 20px 0;
      border-radius: 10px;
      z-index: 2;
      position: relative;
    }

    .feature-item {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 10px;
      border: 1px solid #ddd;
      border-radius: 10px;
      padding: 10px;
      background: #fff;
    }

    .hero-img {
      position: absolute;
      bottom: 230px;
      right: 40px;
      max-width: 570px;
    }

    .why-choose {
      margin-top: 50px;
      text-align: center;
      padding: 40px 50px;
    }

    .why-choose h2 {
      font-size: 24px;
      margin-bottom: 10px;
    }

    .why-choose p {
      font-size: 14px;
      color: #555;
      margin-bottom: 30px;
    }

    .why-grid {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 20px;
      padding: 0 20px 40px;
    }

    .why-card {
      background: #f9f9f9;
      padding: 20px;
      border-radius: 12px;
      text-align: center;
      box-shadow: 0 2px 5px rgba(0,0,0,0.05);
    }

    .why-card h4 {
      margin: 10px 0;
      font-size: 16px;
    }

    .why-card p {
      font-size: 13px;
      color: #666;
    }

    .why-card i {
      font-size: 30px;
      margin-bottom: 10px;
      color: #f0483e;
    }

    .ambassador {
      padding: 60px 15px;
      background: #fff;
    }

    .ambassador-container {
      max-width: 1100px;
      margin: 0 auto;
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-wrap: wrap;
      gap: 30px;
    }

    .ambassador-img {
      max-width: 500px;
      width: 100%;
    }

    .ambassador-content {
      padding: 45px;
      max-width: 500px;
    }

    .ambassador-content h2 {
      font-size: 30px;
      color: #333;
      margin-bottom: 10px;
    }

    .ambassador-content p {
      font-size: 14px;
      color: #555;
      margin-bottom: 20px;
    }

    .apply-btn {
      background: #E24329;
      border: none;
      padding: 10px 30px;
      color: white;
      font-size: 14px;
      border-radius: 20px;
      cursor: pointer;
    }

    .faq {
      color: #444B51;
      padding: 60px 20px;
      background: #fff;
      text-align: center;
    }

    .faq-header h2 {
      font-size: 26px;
      font-weight: 700;
      color: #333;
    }

    .faq-header p {
      font-size: 14px;
      color: #666;
      margin: 10px 0 30px;
    }

    .faq-list {
      max-width: 800px;
      margin: 0 auto;
      text-align: left;
    }

    .faq-item {
      border-top: 1px solid #ddd;
      padding: 15px 0;
    }

    .faq-question {
      display: flex;
      align-items: center;
      gap: 15px;
      cursor: pointer;
    }

    .fa-circle-plus {
      font-size: 20px;
    }

    .faq-item h4 {
      font-size: 16px;
      color: #333;
    }

    .faq-answer {
      font-size: 14px;
      color: #555;
      margin: 10px 0 0 35px;
      display: none;
    }

    .faq-item.active .faq-answer {
      display: block;
    }

    .faq-footer {
      margin-top: 30px;
    }

    .faq-link {
      color: red;
      font-weight: bold;
      font-size: 14px;
      text-decoration: none;
    }

    .faq-link i {
      margin-left: 5px;
    }

        .clients {
      padding: 40px 20px;
      text-align: center;
    }

    .clients h2 {
      font-size: 28px;
      font-weight: bold;
      color: #444B51;
      margin-bottom: 10px;
    }

    .client-logos {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      gap: 70px;
    }

    .client-logos img {
      object-fit: contain;
      max-width: 100px;
    }

    .testimonial {
      padding: 60px 0px;
      text-align: center;
      background: #fff;
    }

    .testimonial h2 {
      font-size: 24px;
      font-weight: bold;
      color: #333;
    }

    .testimonial p {
      font-size: 14px;
      color: #666;
      margin: 10px 0 30px;
    }

    .testimonial-container {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 45px;
      flex-wrap: wrap;
    }

    .testimonial-img img {
      width: 350px;
      height: auto;
      border-radius: 20px;
    }

    .testimonial-text {
      max-width: 500px;
      text-align: left;
    }

    .quote {
      font-size: 40px;
      line-height: 0;
    }

    .fa-quote-left{
        font-size: 70px;
    }

    .stars {
      font-size: 28px;
      color: #FF595A;
      margin-bottom: 10px;
    }

    .review {
      font-size: 14px;
      color: #333;
      margin-bottom: 10px;
    }

    .client-name {
      font-weight: bold;
      color: #f0483e;
    }

    .client-title {
      font-size: 13px;
      color: #666;
    }

    .testimonial-nav{
        margin-top: 20px;
    }

    .testimonial-nav button {
      background: #ddd;
      border: none;
      padding: 8px 12px;
      margin: 10px 5px;
      border-radius: 6px;
      font-size: 14px;
      cursor: pointer;
    }

    .testimonial-nav .next {
      background: #f0483e;
      color: white;
    }

    .partner {
      padding: 60px 20px;
      display: flex;
      justify-content: center;
    }

    .partner-box {
      background: #ffe9e3;
      padding: 60px 90px;
      border-radius: 20px;
      text-align: center;
      box-shadow: 0 8px 16px rgba(0, 0, 0, 0.05);
      max-width: 700px;
      width: 100%;
      position: relative;
      
    }

    .partner-box h2 {
      font-size: 24px;
      font-weight: bold;
      color: #333;
      margin-bottom: 25px;
    }

    .partner-box p {
      margin-top: 10px;
      font-size: 14px;
      color: #666;
      margin-bottom: 20px;
    }

    .signup-btn {
      margin-top: 20px;
      background: white;
      color: #f0483e;
      padding: 15px 55px;
      font-weight: bold;
      border: none;
      border-radius: 30px;
      box-shadow: 0 4px 8px rgba(0,0,0,0.1);
      cursor: pointer;
    }

    #zigzag{
        display: flex;
        position: absolute;
        top: 130px;
        width: 50px;
        color: #E24329;
    }

    .blog {
  padding: 60px 20px;
  text-align: center;
}

.blog h2 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 30px;
}

.blog-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.blog-slider {
  display: flex;
  gap: 20px;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 1000px;
}

.blog-slider.no-scroll {
  overflow-x: hidden;
}

.blog-card {
  width: 300px;
  background: #fff;
  padding: 15px;
  text-align: left;
}

.blog-card img {
  width: 100%;
  margin-bottom: 10px;
}

.blog-meta {
  font-size: 12px;
  color: #777;
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.blog-card h4 {
  font-size: 16px;
  margin-bottom: 10px;
  color: #333;
}

.blog-card p {
  font-size: 13px;
  color: #555;
}

.blog-card a {
  font-size: 13px;
  color: #00b894;
  text-decoration: none;
  display: inline-block;
  margin-top: 10px;
}

.nav-icon {

  color: #fff;
  border: none;
  padding: 10px;
  border-radius: 50%;
  font-size: 16px;
  cursor: pointer;
}

#nav-icon-right{
    background: #00b894;
}
.app-section {
  background-color: #FFF2EF;
  padding: 30px 20px;
}

.app-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: auto;
}

.app-text {
  flex: 1;
  min-width: 300px;
}

.app-text h2 {
  font-size: 28px;
  font-weight
.: bold;
  margin-bottom: 15px;
}

.app-text p {
  font-size: 14px;
  color: #555;
  margin-bottom: 25px;
}

.app-benefits {
  font-weight: bold;
  list-style: none;
  padding: 0;
  margin-bottom: 25px;
}

.app-benefits li {
  font-size: 15px;
  color: #333;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}

.app-benefits span {
  background: #f0483e;
  color: #fff;
  border-radius: 50%;
  display: inline-block;
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  font-weight: bold;
  margin-right: 10px;
}

.app-buttons{
  display: flex;
  gap: 5px;
}

.store-button {
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: #000;
  color: #000;
  padding: 10px 18px;
  border-radius: 8px;
  font-family: 'Segoe UI', sans-serif;
  transition: background-color 0.3s;
  width: fit-content;
  cursor: pointer;
}

.store-button .icon {
  font-size: 24px;
}

.store-button .text small {
  display: block;
  font-size: 10px;
  opacity: 0.7;
}

.store-button .text strong {
  font-size: 14px;
}

.store-button.apple {
  background-color: #FFF2EF;
  border: 1px solid black;
}

.store-button.google {
  background-color: #FFF2EF;
  border: 1px solid black;
}

.store-button:hover {
  background-color: #333;
  color: #fff;
}


.app-image {
  flex: 1;
  min-width: 300px;
  display: flex;
  justify-content: center;
}

.app-image img {
  max-width: 90%;
  height: auto;
  margin-top: 20%;
}


.footer {
  background-color: #FFF2EF;
  color: #333;
  padding: 80px 20px 0;
  margin-top: 10%;
  font-family: sans-serif;
  text-align: center;
}

.footer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: auto;
  padding-bottom: 30px;
  
}

.footer-column {
  flex: 1;
  min-width: 200px;
  margin-bottom: 20px;
}

.footer-logo {
  height: 40px;
  margin-bottom: 35px;
}

.footer-social {
  margin-top: 35px;
}

.footer-social i {
  margin-right: 10px;
  font-size: 16px;
  color: #333;
  cursor: pointer;
}

.footer-column h4 {
  font-weight: bold;
  margin-top: 20px;
  text-align: left;
}

.footer-column ul {
  list-style: none;
  padding: 0;
  margin-top: 40px;
}

.footer-column li {
  margin-bottom: 20px;
  text-align: left;
}

.footer-column a {
  color: #333;
  text-decoration: none;
  font-size: 14px;
}

.footer-column a:hover {
  text-decoration: underline;
}

.footer-bottom {
   background-color: #e6462c;
  width: 100vw;
  text-align: center;
  padding: 15px 0;
  color: white;
  font-size: 14px;
  margin-top: 20px;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
}



    @media (max-width: 768px) {

         .svg-floater {
    top: -10px;
    width: 80px;
         }

          .footer-container {
    flex-direction: column;
    text-align: center;
    gap: 0;
  }

  
  

  .footer-social {
    justify-content: center;
  }

          .app-content {
    flex-direction: column-reverse;
    text-align: center;
  }

  .app-benefits li {
    justify-content: center;
  }

  .app-buttons {
    display: flex;
    justify-content: center;
  }

        .partner-box {
        padding: 30px 20px;
      }      

      .partner-box h2 {
        font-size: 20px;
      }

              .testimonial-container {
        flex-direction: column;
        text-align: center;
      }

      .testimonial-text {
        text-align: center;
      }

      .testimonial-img{
        position: relative;
        right: 25px;
      }

      .client-logos {
        gap: 20px;
      }
      .client-logos img {
        height: 30px;
        max-width: 80px;
      }

      .faq{
        margin-top: -30%;
      }

            .faq-header h2 {
        font-size: 22px;
      }
      .faq-header p {
        font-size: 13px;
      }
      .faq-question h4 {
        font-size: 15px;
      }

            .ambassador-container {
        flex-direction: column;
        text-align: center;
      }

      .ambassador-content {
        position: relative;
        bottom: 50px;
        max-width: 100%;
      }

      .ambassador-img {
        max-width: 100%;
        margin-top: -50px;
      }
       .why-grid {
  grid-template-columns: repeat(1, 1fr);
  overflow-x: auto;
  scroll-snap-type: y mandatory;
  max-height: 80vh;
  scroll-behavior: smooth;
}

.why-card {
  scroll-snap-align: start;
}

header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 15px 10px;
      background-color: #fff;
      box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    }

    header img{
      width: 170px;
    }


      .hamburger {
        display: block;
        
      }

     .hero h1{
      font-size: 25px;
     }
      
     .features{
      display: none;
     }

    
      .sign-in{
      font-size: 15px;
      font-weight: bold;
      color: #fff;
      padding: 10px 25px;
      background: #E24329;
      border: none;
      border-radius: 20px;
      }

      .right-icons {
        display: none;
        flex-direction: column;
        background: white;
        position: absolute;
        top: 60px;
        right: 0;
        width: 200px;
        box-shadow: 0 2px 10px rgba(0,0,0,0.2);
        border-radius: 10px;
        padding: 10px;
        z-index: 100;
      }

      .right-icons.show {
        display: flex;
      }

      .hero{
        padding: 15px 20px 80px;
      }

      .hero .container{
        margin-top: 345px;
      }

      .hero-img {
        display: flex;
        position: absolute;
        max-width: 100%;
        margin-bottom: 130px;
        left: 3px;
      }

      .features {
        margin-top: -60px;
      }

      .track-box {
        max-width: 100%;
      }

      .client-img{
        display: none;
      }

      .blog{
        padding: 30px;
      }

      .blog button{
        display: none;
      }
    }